
body{
  font-family:'Work Sans', sans-serif;;
}
br {
       line-height: 100%;
    }
h1{
  padding:30px;
  padding-left: 40px;
}
.text{

line-height: 140%;
width:60%;
padding-left:200px;
}
.pullquote1{
  font-weight: bold;
  font-size: 24px;
  width:35%;
  padding-left:150px;
}
.pullquote2{
  font-weight: bold;
  text-align:center;
  font-size:28px;
  width:70%;
  padding-left:140px;
}
.image{
  width:300px;
  height: 300px;
margin-right:80px;
margin-bottom:20px;
  float:left;
  display:inline;
}

@media only screen and (max-width: 750px) {

  .text {
        padding-left:80px;
        width:70%;
    }
    .pullquote1{
      width:70%;
      padding-left:60px;
}
.pullquote2{
  width:75%;
  padding-left:60px;
}
}
@media only screen and (max-width: 450px) {

  .text {
        padding-left:40px;
        width:95%;
}
.pullquote1{
  width:95%;
  padding-left:40px;
}
.pullquote2{
  width:95%;
  padding-left:40px;
}
}
